<footer>
    
        <!-- Footer Page Links -->
         <div class="footerLinks">
        <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3 col-sm-12">
            <div class="services-top">
                <a class="navbar-brand" href="#"><img class="footer-logo" src="{%static 'images/naest-point-logo.svg' %}" alt="Logo"></a>
              </div>
            </div>
        <div class="col-md-3 col-sm-4 col">
            <div class="footer-link">
            <h6 class="linkTitle">HELP</h6>
            <a class="footerLink" href="/contact-us"><p class="link-main">Let's Talk</p></a>
            <a class="footerLink" href="/projects"><p class="link-main">Projects</p></a>
            <a class="footerLink" href="/about-us"><p class="link-main">About Us</p></a>
            </div>
        </div>
        <div class=" col-md-3 col-sm-4 col">
            <div class="footer-link2">
            <h6 class="linkTitle">SERVICES</h6>
            <a class="footerLink" href="/service/interior-design"><p class="link-main"> Interior Design</p></a>
            <a class="footerLink" href="/service/furniture-design"><p class="link-main">Furniture Design</p></a>
            <a class="footerLink" href="/service/material-supply"><p class="link-main">Material Supply</p></a>
            </div>
        </div>
    
        <!-- Footer Contact -->
    
        <div class="col-md-3 col-sm-4 col">
            <div class="footer-link2">
            <h6 class="linkTitle">SOCAILS</h6>
                <div class="footerIcons">
                    <div class="facebook-icon footerIcon">
                    <a class="footerLink socialsLink" href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                    </div>
                    <div class="instagram-icon footerIcon">
                    <a class="footerLink socialsLink" href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    </div>
                    <div class="whatsapp-icon footerIcon">
                    <a class="footerLink socialsLink" href="#"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>

    </div>
    
        <!-- Terms and Copyrights -->
    
        <div class="down-footer">
        <div class="address-design">
            <div class="address-info">
            <!-- <i class="fa-sharp fa-solid fa-location-dot" style="color: #ffffff;"></i> -->
            <!-- <p class="footerText">107 Old Aba Rd, Rumuobiakani, Rivers. Nigeria</p> -->
            </div>
        </div>
        <hr class="footer-divider">
        <div class="terms-copy">
            <p class="footerText">Terms & Privacy</p>
            <p class="footerText"><small >DeraServices © <%= new Date().getFullYear() %> All rights reserved</small></p>
        </div>

</footer>