<!DOCTYPE html>
<html lang="en">
    <title> Projects @ <%= locals.companyName %></title>
<%- include('header.html') %>
<body>

    <div class="coomingSoon">
    <h1 class="text-center ">Coming Soon...</h1>
    </div>

</body>
<%#- include('footer.ejs') %>
</html>