<!DOCTYPE html>
<html lang="en">
<title> Woodwork/Furniture Design @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 aboutHeading" src="../images/services/woodwork&furniture/1.jpg" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
                Here at <%= locals.company.name %>, we create beautiful custom woodwork and furniture. We specialize in designing and crafting unique pieces that add character and functionality to any space. From handcrafted tables and cabinets to bespoke furniture solutions, our expert artisans bring your vision to life with precision and attention to detail. Discover the timeless beauty of wood, expertly tailored to suit your needs.

            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <a href=""><img class="d-block w-100 landscapeImg" src="../images/services/woodwork&furniture/2.jpg" alt="interior-design"></a>
                    <p class="serviceText">
                        Transfer your vision of a dream home into reality with personalized design assistance and curated 
                        products perfectly tailored to your uniques style.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <a href=""><img class="d-block w-100 portraitImg" src="../images/services/woodwork&furniture/3.jpg" alt="furniture-pic"></a>
                    <p class="serviceText">
                        Benefit from the wealth of experience our team of woodcraft designers bring to 
                        the table
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/woodwork&furniture/4.jpg" alt="">
                <p class="text-center serviceText ">
                    Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table
                </p>
                </div>
            </div>

            <br><h1>THE<br>&nbsp&nbsp PROCESS</h1>
            <h5 class="serviceHeading">
                We pride our self in the due deligence and care we put in the art of woodwork and furniture designing, 
                from the conception of the design style and pattern to the satisfaction we get from the unique finished 
                products. we always try to standout and also give our clients the best designs and styles imagination
                can offer. 
                
            </h5>

            <div class="row justify-content-center">
                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/woodwork&furniture/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/woodwork&furniture/video2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/woodwork&furniture/video3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>