<!DOCTYPE html>
<html lang="en">
    <title> Interior Decoration/Design @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 aboutHeading" src="../images/services/interior-design/1.jpg" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
                <%= locals.company.name %> specialize in delivering customized interior design solutions that reflect your unique style and needs. Whether you’re redesigning a single room or undertaking a complete home makeover, our team is committed to bringing your vision to life with quality, attention to detail, and a passion for design. Let us help you create a space that feels as good as it looks.

            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <img class="d-block w-100 landscapeImg" src="../images/services/interior-design/2.jpg" alt="interior-design">
                    <p class="serviceText">
                        Transfer your vision of a dream home into reality with personalized design assistance and curated 
                        products perfectly tailored to your uniques style.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <img class="d-block w-100 portraitImg" src="../images/services/interior-design/3.JPG" alt="furniture-pic">
                    <p class="serviceText">
                        Benefit from the wealth of experience our team of woodcraft designers bring to 
                        the table
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/interior-design/4.jpg" alt="">
                <p class="text-center serviceText ">
                    Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table
                </p>
                </div>
            </div>


            <br><h1>SAMPLE<br>&nbsp&nbsp SNIPPETS</h1>
            <h5 class="serviceHeading">
                Check out some of our sample video snippets, we offer very unique styles tailored to your 
                personal taste whether you’re redesigning a single room or undertaking a complete home makeover, 
                our team is committed to bringing your vision to life with quality, attention to detail, and a 
                passion for design. Let us help you create a space that feels as good as it looks.
            </h5>
            <div class="row justify-content-center">
                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/interior-design/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/interior-design/video2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/interior-design/video3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>