<!DOCTYPE html>
<html lang="en">
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 h-100 aboutHeading" src="../images/about/DeraServices.png" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h4>
                C'dera services offers a wide range of interior design scope, from Lorem ipsum dolor sit 
                amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum 
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus

            </h4>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <a href=""><img class="d-block w-100 landscapeImg" src="../images/about/DeraServices.png" alt="interior-design"></a>
                    <p class="serviceText">
                        Transfer your vision of a dream home into reality with personalized design assistance and curated 
                        products perfectly tailored to your uniques style.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <a href=""><img class="d-block w-100 portraitImg" src="../images/home/furniture-making.jpg" alt="furniture-pic"></a>
                    <p class="serviceText">
                        Benefit from the wealth of experience our team of woodcraft designers bring to 
                        the table
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 h-100 aboutHeading" src="../images/about/DeraServices.png" alt="">
                <p class="text-center serviceText ">
                    Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table
                </p>
                </div>
            </div>



            <div class="row ">
                <div class="col-12">
                    <!-- <video class="d-block w-100" src="../images/home/interior-design.mp4"></video> -->
                    <a href=""><img class="d-block w-100" src="../images/home/interior-design.jpg" alt="material supply"></a>
                </div>
            </div>
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>