<!DOCTYPE html>
<html lang="en">
    <title> Material Supply @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 h-100 aboutHeading" src="../images/services/material-supply/1.png" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
                <%= locals.company.name %> is your trusted source for high-quality plywood and panel products. We specialize in providing a wide range of premium plywood, ideal for construction, furniture, and interior design projects. With a focus on durability, versatility, and sustainability, we supply top-grade materials to meet the needs of both professionals and DIY enthusiasts. Let us be your partner in bringing your projects to life with the best plywood solutions available.
            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <a href=""><img class="d-block w-100 landscapeImg" src="../images/services/material-supply/2.jpg" alt="interior-design"></a>
                    <p class="serviceText">
                        Transfer your vision of a dream home into reality with personalized design assistance and curated 
                        products perfectly tailored to your uniques style.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <a href=""><img class="d-block w-100 portraitImg" src="../images/services/material-supply/3.jpg" alt="furniture-pic"></a>
                    <p class="serviceText">
                        Benefit from the wealth of experience our team of woodcraft designers bring to 
                        the table
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/material-supply/4.jpg" alt="">
                <p class="text-center serviceText ">
                    Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table Benefit from the wealth of experience our team of woodcraft designers bring to 
                    the table
                </p>
                </div>
            </div>



            <div class="row justify-content-center">
                <div class="col-4">
                    <!-- <img class="d-block w-100" src="../images/home/interior-design.jpg" alt="material supply"> -->
                    <video class="d-block w-100" controls>
                        <source src="../images/services/woodwork&furniture/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <!-- <img class="d-block w-100" src="../images/home/interior-design.jpg" alt="material supply"> -->
                    <video class="d-block w-100" controls>
                        <source src="../images/services/woodwork&furniture/video2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <!-- <img class="d-block w-100" src="../images/home/interior-design.jpg" alt="material supply"> -->
                    <video class="d-block w-100" controls>
                        <source src="../images/services/woodwork&furniture/video3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
            
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>